{% load static %}
<html>
    <head>
        <title>Cipher Toolbox</title>
        <meta name="viewport" content="width=device-width" >
        <link rel="stylesheet" href="{% static 'style_index.css' %}">
    </head>
    <body>    
        <H1>Cipher Toolbox</H1>
        <ul>
            <li><a href='./page19' target="_blank">Text Analysis</a></li>
            <li><a href='./page1' target="_blank">ROT and Atbash</a></li>
            <li><a href='./page4' target="_blank">Vigenere</a></li>
            <li><a href='./page7' target="_blank">Enigma</a></li>
            <li><a href='./page6' target="_blank">Playfair</a></li>
            <li><a href='./page12' target="_blank">Affine</a></li>
            <li><a href='./page16' target="_blank">Simple substitution</a></li>           
            <li><a href='./page17' target="_blank">Phonetic alphabet</a></li>
            <li><a href='./page2' target="_blank">Railfence and Reverse</a></li>
            <li><a href='./page5' target="_blank">Columnar</a></li>
            <li><a href='./page23' target="_blank">Rectangle</a></li>
            <li><a href='./page24' target="_blank">Periodic transposition</a></li>
            <li><a href='./page25' target="_blank">Swap X-Y axes</a></li>
            <li><a href='./page10' target="_blank">Morse</a></li>
            <li><a href='./page30' target="_blank">Hash</a></li>
            <li><a href='./page13' target="_blank">Text split</a></li>
            <li><a href='./page15' target="_blank">Words index</a></li>
            <li><a href='./page14' target="_blank">Number converter</a></li> 
            <li><a href='./page20' target="_blank">Text to ASCII code, Base64, etc.</a></li>
            <li><a href='./page21' target="_blank">ASCII code to Text</a></li> 
            <li><a href='./page22' target="_blank">Base64 etc. Conversion</a></li> 
            <li><a href='./page11' target="_blank">Characters replace</a></li>
            <li><a href='./page3' target="_blank">Prime factor</a></li>            
            <li><a href='./page8' target="_blank">RSA</a></li>
            <li><a href='./page26' target="_blank">Homophonic cipher hand solve helper</a></li>
            <li><a href='./page29' target="_blank">Vigenere break helper (key length)</a></li>
            <li><a href='./page9' target="_blank">Password generator</a></li>
            <li><a href='./page18' target="_blank">Riddle tables</a></li>
            <li><a href='./page27' target="_blank">Python code (eval)</a></li>
            <li><a href='./page28' target="_blank">Python code (exec)</a></li>
            <li><a href='./link.html' target="_blank">External Sites Links</a></li>
        </ul>
    </body>
</html>