{% load static %}
<html>
    <head>
        <title>Hello, my first browser based decoding tool</title>
        <link rel="stylesheet" href="{% static 'style.css' %}">
    </head>
    <body>
        <script 
            src="https://code.jquery.com/jquery-3.3.1.min.js" 
            integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" 
            crossorigin="anonymous">
        </script>
    
        <p>{{ testparam }}</p>
        <br>


        <form id='input_form'>
            {% csrf_token %}
            <input type="text" name="input_1_txt" value="STAR" class='a1'>
            <BR>
            <button type="submit" class="btn">Action</button>
        </form>

        <div id='output_div' class='b1'>
            <span id="output_txt"></span>
        </div>
        <script>
            $("form").submit( function(event) {
                event.preventDefault();
                var form = $(this);
                $.ajax({
                        url: "./decode_alice",
                        method: 'POST',
                        data: form.serialize(),
                        timeout: 10000,
                        dataType: "text",
                })
                .done( function(data) {
                        document.getElementById( "output_txt" ).innerHTML = data;     
                })
            });
        </script>

    </body>
</html>