{% load static %}
<html>
    <head>
        <title>Cipher Toolbox</title>
        <meta name="viewport" content="width=device-width" >
        <link rel="stylesheet" href="{% static 'style_index.css' %}">
    </head>
    <body>    
        <H1>Cipher Toolbox</H1>
        <ul>
            <li><a href='./page1'>ROT and Atbash</a></li>
            <li><a href='./page2'>Railfence</a></li>
            <li><a href='./page3'>Prime factor</a></li>
            <li><a href='./page4'>Vigenere</a></li>
            <li><a href='./page5'>Columnar</a></li>
            <li><a href='./page6'>Playfair</a></li>
            <li><a href='./page7'>Enigma</a></li>
            <li><a href='./page8'>RSA</a></li>
            <li><a href='./page9'>Password generator</a></li>
        </ul>
    </body>
</html>