{% load static %}
<html>
    <head>
        <title>Cipher Toolbox: External sites links</title>
        <meta name="viewport" content="width=device-width" >
        <link rel="stylesheet" href="{% static 'style_index.css' %}">
    </head>
    <body>    
        <H1>External sites links</H1>
        <ul>
            <li><a href='https://multidec.web-lab.at/' target="_blank">Multi-Dec</a></li>
            <li><a href='http://rumkin.com/tools/cipher/' target="_blank">Rumkin.com Cipher Tools</a></li>            
            <li><a href='https://www.geocachingtoolbox.com/' target="_blank">Geocaching Toolbox.com</a></li>
            <li><a href='' target="_blank"></a></li>
            <li><a href='https://www.onelook.com/' target="_blank">OneLook</a></li>
            <li><a href='https://anagram-solver.net/' target="_blank">Free Online Anagram Solver</a></li>
            <li><a href='https://incoherency.co.uk/image-steganography/#unhide' target="_blank">Image Steganography</a></li>
        </ul>
    </body>
</html>