{% load static %}
<html>
    <head>
        <title>Cipher Toolbox: External sites links</title>
        <meta name="viewport" content="width=device-width" >
        <link rel="stylesheet" href="{% static 'style_index.css' %}">
    </head>
    <body>    
        <H1>External sites links</H1>
        <ul>
            <li><a href='https://multidec.web-lab.at/' target="_blank">Multi-Dec</a></li>
            <li><a href='http://rumkin.com/tools/cipher/' target="_blank">Rumkin.com Cipher Tools</a></li>
        </ul>
    </body>
</html>