{% load static %}
<html>
    <head>
        <title>{{ title }}</title>
        <meta name="viewport" content="width=device-width" >
        <link rel="stylesheet" href="{% static 'style.css' %}">
    </head>
    <body>
        <div class="menu_bar"><a href='./'>HOME</a> <a href='' onclick="clearContents()">CLEAR</a></div>
        <H1>{{ title }}</H1>

        {% csrf_token %}
        <p>Input text</p>
        <textarea id="input_1_txt" class='inputtextarea1'></textarea>
        <BR>
        <p>Key</p>
        <textarea id="input_2_txt" class='inputtextarea2'></textarea>
        <BR>
        <a class="myButton" onclick="decode_action('./decode_a')">ROT</a>
        <a class="myButton" onclick="decode_action('./decode_b')">Vig</a>

        <div id='output_div' class='b1'>
            <span id="output_txt"></span>
        </div>


        <script>
            function clearContents(){
                document.getElementById( "input_1_txt" ).value =''
                document.getElementById( "input_2_txt" ).value =''
            }
        </script>

        <script 
            src="https://code.jquery.com/jquery-3.3.1.min.js" 
            integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" 
            crossorigin="anonymous">
        </script>

        <script>
            function decode_action(action_url) {
                $.ajax({
                        url: action_url,
                        method: 'POST',
                        data: {
                            'input_1_txt': document.getElementById( "input_1_txt" ).value,
                            'input_2_txt': document.getElementById( "input_2_txt" ).value,
                        },
                        timeout: 10000,
                        dataType: "text",
                })
                .done( function(data) {
                        document.getElementById( "output_txt" ).innerHTML = data;     
                })
            }
        </script>

        <script>
            function getCookie(name) {
                var cookieValue = null;
                if (document.cookie && document.cookie !== '') {
                    var cookies = document.cookie.split(';');
                    for (var i = 0; i < cookies.length; i++) {
                        var cookie = jQuery.trim(cookies[i]);
                        // Does this cookie string begin with the name we want?
                        if (cookie.substring(0, name.length + 1) === (name + '=')) {
                            cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                            break;
                        }
                    }
                }
                return cookieValue;
            }

            var csrftoken = getCookie('csrftoken');

            function csrfSafeMethod(method) {
                // these HTTP methods do not require CSRF protection
                return (/^(GET|HEAD|OPTIONS|TRACE)$/.test(method));
            }

            $.ajaxSetup({
                beforeSend: function (xhr, settings) {
                    if (!csrfSafeMethod(settings.type) && !this.crossDomain) {
                        xhr.setRequestHeader("X-CSRFToken", csrftoken);
                    }
                }
            });
        </script>
    </body>
</html>