.a1{
    color: #222222;
    font-family:"Courier New", Consolas, monospace;
    width:80%;
    height:auto;
}

.b1 {
    color: #222222;
    font-family:"Courier New", Consolas, monospace;
}

btn {
    color: #222222;
    font-family:"Courier New", Consolas, monospace;
}